.badge-notification {
  background: var(--tertiary);
}

.badge-category__wrapper {
  font-size: 0.75rem;
  .badge-category {
    color: var(--primary);
    &:before {
      width: 0.5rem;
      height: 0.5rem;
    }
  }
}
.topic-list .badge-notification,
.badge-notification {
  min-width: 1rem;
  height: 1rem;
  font-size: 0.6875rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border-radius: var(--rounded-xl);
  background: var(--tertiary);
  padding: 0 0.25rem;
  color: var(--secondary);
}

.d-header-icons .badge-notification {
  border: 0;
  min-width: 1rem;
  height: 1rem;
  font-size: 0.6875rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border-radius: var(--rounded-xl);
  background: var(--tertiary);
  position: absolute;
  top: -0.25rem;
  right: -0.25rem;
  text-align: right;
  padding: 0 0.25rem;
  color: var(--secondary);
}
