.discourse-no-touch .btn {
  // background: none;
  // padding: 0;

  &.btn-default {
    transition: none;
  }
  svg {
    font-size: 1.25em;
  }
  &:hover {
    background: none;
    &,
    .d-icon {
      color: var(--primary);
    }
  }
}
