.d-header {
  border-bottom: 1px solid var(--primary-200);
  box-shadow: none;
  height: 4.5em;

  #site-logo {
    height: 2.25em;
  }

  & > .wrap > .contents {
    // display: grid;
    // grid-template-columns: repeat(8, minmax(0, 1fr));
    column-gap: 1.5em;
    align-items: center;
  }

  .title {
    display: flex;
    align-items: center;
    grid-column: 1 / span 2;
    & + .extra-info-wrapper {
      grid-column: 3 / span 4;
      @include breakpoint(tablet) {
        display: none;
      }
      & + .before-header-panel-outlet {
        display: none;
      }
    }
    @include breakpoint(tablet) {
      grid-column: 1 / span 4;
      gap: 0.5rem;
    }
    @include breakpoint(mobile-extra-large) {
      gap: 0.5rem;
    }

    button.sidebar-left__toggle {
      position: absolute;
      left: -9999rem;
      background: none;
      border: none;
      width: 3rem;
      height: 3rem;
      html:not(.sidebar-left--open) & {
        svg:last-child {
          display: none;
        }
      }
      html.sidebar-left--open & {
        svg:first-child {
          display: none;
        }
      }
      @include breakpoint(tablet) {
        position: unset;
        left: unset;
      }
    }

    @include breakpoint(tablet) {
      grid-column: 1 / span 4;
    }
  }

  .panel {
    position: unset;
    grid-column: 7 / span 2;
    justify-self: flex-end;
    margin-left: unset;
    @include breakpoint(tablet) {
      grid-column: 5 / span 4;
      margin-left: auto;
    }

    // remove user section in notifications
    .user-menu.revamped .bottom-tabs,
    #user-menu-button-profile {
      display: none;
    }
  }
}

// notifications

.menu-panel.drop-down {
  box-shadow: var(--shadow);
  border-radius: var(--rounded-xl);
  border: none;
}

// header bar
.discourse-no-touch .d-header-icons,
.drop-down-mode .d-header-icons {
  margin: 0;
  display: flex;

  .icon {
    &,
    &:focus {
      border: 0;
    }
  }

  .header-dropdown-toggle {
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: unset;
    border-radius: var(--rounded-lg);

    & > button,
    button.header-message__button {
      position: relative;
      background: none;
      border: none;
      width: 2em;
      height: 2em;
      padding: 0.25rem;
      box-sizing: content-box;
      transition: none;

      &:hover {
        background: var(--primary-100);
        border: none;
      }
    }
  }

  .d-icon {
    color: var(--primary);
    font-size: 1.5em;
  }

  .icon,
  .active .icon {
    width: 2em;
    height: 2em;
    box-sizing: content-box;
    padding: 0.25em;
    border-radius: var(--rounded-lg);
    // &,
    &:hover {
      background: var(--primary-100);
      border: none;
    }
  }

  // remove default hamburger
  .hamburger-dropdown {
    display: none;
  }

  // user button
  .header-user {
    order: 9;
    position: relative;
    &.active {
      ul.header-user__menu {
        display: flex;
      }
    }
    button.header-user__button {
      width: 2em;
      height: 2em;
      border: 0;
      padding: 0.25em;
      border-radius: var(--rounded-lg);
      box-sizing: content-box;
      background: none;
      z-index: 999;
      position: relative;

      .avatar {
        width: 100%;
        height: 100%;
      }
    }

    ul.header-user__menu {
      box-shadow: var(--shadow);
      background: var(--secondary);
      position: absolute;
      right: 0;

      text-wrap: nowrap;
      top: 0;
      z-index: 99;
      border-radius: var(--rounded-lg);
      overflow: hidden;

      display: none;
      flex-direction: column;
      list-style: none;
      align-items: flex-start;
      margin: 0;
      li {
        width: 100%;
        display: flex;
        height: 3em;
        justify-content: flex-start;
        a {
          display: flex;
          padding-right: 4em;
          flex: 1;
          color: var(--primary);
          align-items: center;
          &:hover {
            .d-icon {
              color: var(--primary);
            }
            background: var(--primary-50);
          }
        }
        button {
          flex: 1;
          justify-content: flex-start;
          .d-icon {
            transition: none;
          }
          &:hover {
            .d-icon {
              color: var(--primary);
            }
            background: var(--primary-50);
          }
        }
        .header-user__name {
          display: flex;
          font-weight: 600;
          padding: 0 4em 0 1em;
          flex: 1;
          align-items: center;
        }

        svg {
          width: 3rem;
        }
      }
    }
  }

  .header-message {
    button.header-message__button {
      border-radius: var(--rounded-lg);

      &:hover {
        background: var(--primary-100);
        border: none;
      }

      &.active {
        background: var(--primary-100);

        & + div.header-message__menu {
          display: flex;
        }
      }
      .d-icon {
        color: var(--primary);
      }
    }

    div.header-message__menu {
      padding: 0.5rem 0.5rem 0 0.5rem;
      width: 20rem;
      div.header-message__heading {
        display: flex;
        justify-content: space-between;
        align-items: center;
        a {
          color: inherit;
        }
        h3 {
          padding: 0 0.5rem;
          margin: 0;
          font-weight: 650;
          font-size: 1.25rem;
        }
        .header-message__buttons {
          list-style: none;
          margin: 0;
          display: flex;
          font-size: 1rem;
          li {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 2rem;
            height: 2rem;
          }
        }
        .material-symbols-outlined {
          list-style: none;
          margin: 0;
          display: flex;
          li {
            font-size: 1.25rem;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 2rem;
            height: 2rem;
          }
        }
      }
      display: none;
      list-style: none;
      margin: 0;
      gap: 0.5rem;
      flex-direction: column;
      background: var(--secondary);
      position: absolute;
      z-index: 999;
      top: 4rem;
      right: 0;
      box-shadow: var(--shadow);
      border-radius: var(--rounded-lg);
      overflow: hidden;
      .header-message__messages {
        padding-bottom: 0.5rem;
        display: flex;
        flex-direction: column;
        list-style: none;
        margin: 0 -0.125rem 0 0;
        padding-right: 0.375rem;
        font-size: 0.875rem;

        max-height: 30rem;
        overflow-y: scroll;
        overflow-x: hidden;

        &::-webkit-scrollbar {
          padding: 0 0.4375rem;
          width: 0.4375rem;
        }

        &::-webkit-scrollbar-track {
          background: none;
        }

        &::-webkit-scrollbar-thumb {
          background: var(--primary-200);
          border-radius: var(--rounded);
        }

        &::-webkit-scrollbar-thumb:hover {
          background: var(--primary-400);
        }

        li {
          a {
            box-sizing: border-box;
            border-radius: var(--rounded-lg);
            padding: 0.5rem;
            &:hover {
              background: var(--primary-50);
            }
            display: flex;
            gap: 0.5rem;
            width: 100%;
            overflow-x: hidden;

            .header-message__avatar {
              position: relative;
              width: 2.25rem;
              flex-shrink: 0;
              img:only-of-type {
                width: 2.25rem;
                height: 2.25rem;
              }
              img {
                width: 1.5rem;
                height: 1.5rem;
                border: 0;
                background: var(--secondary);
                &:nth-of-type(2) {
                  position: absolute;
                  top: calc(0.75rem - 2px);
                  right: -2px;
                  box-sizing: content-box;
                  border: 2px solid var(--secondary);
                }
              }
            }

            .header-message__info {
              overflow: hidden;
              display: flex;
              flex-direction: column;
              line-height: 1.125rem;
              &-top {
                display: flex;
                justify-content: space-between;
                align-items: baseline;
                gap: 1rem;

                .header-message__name {
                  text-wrap: nowrap;
                  color: var(--primary);

                  overflow: hidden;
                  text-overflow: ellipsis;
                }

                .header-message__date {
                  display: flex;
                  align-items: center;
                  font-size: 0.75rem;
                  color: var(--primary);
                  &.unread {
                    gap: 0.25rem;
                    &:before {
                      content: "";
                      height: 0.5rem;
                      width: 0.5rem;
                      border-radius: var(--rounded-md);
                      background: var(--tertiary);
                      display: inline-block;
                    }
                  }
                }
              }
              .header-message__title {
                color: var(--primary);
                text-wrap: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
              }
              .header-message__excerpt {
                margin: 0;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
                overflow: hidden;
                color: var(--primary-700);
              }
              .header-message__tags {
                list-style: none;
                margin: 0.25rem 0 0 0;
                gap: 0.25rem;
                font-size: 0.6875rem;
                display: flex;
                flex-wrap: wrap;
                li {
                  border-radius: var(--rounded);
                  color: var(--primary);
                  display: flex;
                  align-items: center;
                  height: 1rem;
                  padding: 0 0.25rem;
                  background: var(--primary-200);
                }
              }
              .header-message__assigned {
                &:not(.direct):not(.indirect) {
                  display: none;
                }

                &.direct,
                &.indirect {
                  display: flex;
                }

                margin: 0.25rem 0 0 0;
                gap: 0.3125rem;
                align-items: center;

                .d-icon {
                  width: 1em;
                  font-size: 1rem;
                }

                ul {
                  margin: 0;
                  list-style: none;
                  display: flex;
                  font-size: 0.75rem;
                  gap: 0.25rem;
                  li {
                    color: var(--primary);
                    &:not(:last-of-type):after {
                      content: ",";
                    }
                  }
                }
              }
            }
          }
        }
      }
      .header-message__inboxes {
        list-style: none;
        display: inline-flex;
        flex-wrap: wrap;
        margin: 0;
        gap: 0.5rem;
        padding: 0 0.5rem;
        font-size: 0.875rem;

        li {
          position: relative;
          display: flex;

          button {
            cursor: pointer;
            display: flex;
            align-items: center;
            border-radius: var(--rounded);
            padding: 0 0.5rem;
            height: 2rem;
            background: var(--primary-50);
            text-wrap: nowrap;
            border: none;
            margin: 0;
            &.active {
              background: var(--primary-200);
            }
          }
        }
      }
    }
  }

  // new topic button
  .header-create {
    position: relative;
    &.active {
      button.header-create__button {
        .d-icon {
          color: var(--primary);
        }
      }
      ul.header-create__menu {
        display: flex;
      }
    }
    button.header-create__button {
      background: none;
      border: none;
      width: 2em;
      height: 2em;
      padding: 0.5em;
      box-sizing: content-box;
    }
    ul.header-create__menu {
      display: none;
      list-style: none;
      margin: 0;
      flex-direction: column;
      background: var(--secondary);
      position: absolute;
      top: 2.5em;
      right: 0;
      box-shadow: var(--shadow);
      border-radius: var(--rounded-md);
      overflow: hidden;
      li a {
        &:hover {
          background: var(--primary-50);
        }
        .d-icon {
          width: 3rem;
        }
        text-wrap: nowrap;
        height: 3rem;
        padding-right: 1em;
        color: var(--primary);
        display: flex;
        align-items: center;
        justify-content: flex-start;
      }
    }
  }

  // notifications button
  // #current-user {
  //   & > button {
  //     width: 2em;
  //     height: 2em;
  //     padding: 0.25em;
  //     background: none;
  //     border: 0;
  //     border-radius: var(--rounded-lg);
  //     &[aria-expanded="true"] {
  //       background: var(--primary-100);
  //     }
  //   }
  // }
}

// search header
.search-header--visible .before-header-panel-outlet {
  grid-column: span 2;
  flex: none;
  margin-right: unset;
  margin-left: auto;

  @include breakpoint(tablet) {
    display: none;
  }
}
.search-menu .searching a.show-advanced-search {
  display: none;
}

.floating-search-input {
  width: 100%;
  // visibility: hidden;

  .search-banner {
    &-inner.wrap {
      padding: 0;
      .search-menu {
        margin: 0 auto;
        position: relative;
        @media screen and (max-width: 1025px) {
          width: 100%;
        }
        @media screen and (max-width: 768px) {
          width: 100%;
        }
        .widget-button.btn {
          z-index: 999;
          background: transparent;
          padding: 0.25em;
          position: absolute;
          right: unset;
          top: unset;
          left: 1.25em;
          transform: translateX(-50%);
          pointer-events: none;
          .d-icon {
            color: var(--primary);
            font-size: 1.25em;
          }
        }
        .searching {
          position: absolute;
          top: unset;
          right: 0.5em;
          z-index: 999;
        }
        .search-input {
          background: none;
          border: var(--stroke);
          &:focus-within {
            outline: none;
          }
          margin: 0;
          border: none;
          box-sizing: content-box;
          height: 100%;
          width: 100%;
          padding: 0;

          &:after {
            content: "";
            width: 100%;
            height: 100%;
            // background: var(--primary-50);
            border-radius: var(--rounded-3xl);
            position: absolute;
            top: 0;
            left: 0;
            z-index: 9;
          }

          #search-term {
            border: var(--border);
            width: 16em;
            height: 2.5em;
            z-index: 99;
            position: relative;
            margin: 0;
            border-radius: var(--rounded-3xl);
            padding: 0 2em 0em 2.25em;
            color: var(--primary-600);
            background: none;

            &:focus {
              box-shadow: none;
              outline: none;
            }
          }
        }
        .results {
          &:empty {
            display: none;
          }
          z-index: 9;
          border: 0;
          border-radius: var(--rounded-3xl);
          box-shadow: var(--shadow);
          background: var(--secondary);
          margin-top: 0;
          padding: 3.5em 0.5em 0;
          box-sizing: border-box;
          top: 0;
          position: absolute;
          width: 100%;
          ul.list,
          ul {
            list-style: none;
            margin: 0;
            li {
              padding: 0 0.5em;
              &:hover {
                background-color: var(--highlight-low);
              }
            }
          }
        }
      }
    }
  }
}

.topic-list .topic-list-item-separator .topic-list-data span {
  display: none;
}

.badge-notification.unread-posts {
  background: var(--tertiary);
}
