.select-kit.is-expanded .select-kit-body {
  border: none;
  box-shadow: var(--shadow);
  border-radius: var(--rounded-xl);
  overflow: hidden;
}

.select-kit .select-kit-header .selected-name .name {
  gap: 0;
}
