.sidebar-left {
  --py: 1.5em;
  --gap: 1em;

  display: flex;
  flex-direction: column;
  gap: var(--gap);

  grid-area: left;
  grid-column: 1 / span 2;

  @include breakpoint(tablet) {
    grid-column: 1 / span 1;
    html.sidebar-left--open & {
      z-index: 999;
      position: fixed;
      width: 20em;
      background: var(--secondary);
      box-shadow: var(--shadow);
      padding-left: 0.5em;
      padding-right: 0.5em;
      box-sizing: border-box;
      top: var(--header-offset);

      height: calc(100vh - var(--header-offset));
      left: 0;
      .sidebar-left__section {
        ul.sidebar-left__links li.sidebar-left__link a {
          width: 100%;
        }
        .sidebar-left__label,
        .category-name {
          display: flex;
          margin-left: 0.5em;
        }
      }
    }
  }

  @include breakpoint(mobile-extra-large) {
    html:not(.sidebar-left--open) & {
      display: none;
    }
    html.sidebar-left--open & {
      position: fixed;
      width: calc(100% - 4em);
      padding-right: 0.5em;
      padding-left: 0.5em;
      height: calc(100vh - var(--header-offset));
      box-sizing: border-box;
      top: var(--header-offset);
      left: 0;
      z-index: 999;
      background: var(--secondary);
      box-shadow: var(--shadow);
    }
  }

  padding: var(--py) 0;
  height: calc(100vh - var(--header-offset) - var(--py) * 2);

  position: sticky;
  top: var(--header-offset);

  overflow-y: scroll;
  overscroll-behavior: contain;

  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;

  .sidebar-left__section {
    .sidebar-left__toggle {
      display: flex;
      align-items: center;
      width: 100%;
      height: 3em;
      padding: 0;
      border-radius: var(--rounded-md);
      border: 0;
      background: none;
      font-weight: 600;

      .d-icon {
        width: 3em;
        transform-origin: center;
      }

      &:hover {
        background: var(--primary-50);
      }

      &:not(.active) {
        .d-icon {
          transform: rotate(-90deg);
        }
      }
    }

    .sidebar-left__label,
    .category-name {
      @include breakpoint(tablet) {
        display: none;
      }
      @include breakpoint(mobile-extra-large) {
        display: initial;
      }
    }

    ul.sidebar-left__links {
      list-style: none;
      margin: 0;
      display: flex;
      flex-direction: column;
      gap: 0;

      li.sidebar-left__link {
        &.unread-notification a:after {
          content: "";
          width: 0.5em;
          height: 0.5em;
          margin-left: 0.5em;
          background: var(--tertiary);
          display: inline-flex;
          border-radius: var(--rounded-full);
        }
        a {
          text-wrap: nowrap;
          color: var(--primary);
          display: flex;
          align-items: center;
          width: 100%;
          height: 3rem;
          @include breakpoint(tablet) {
            width: 3rem;
          }
          @include breakpoint(mobile-extra-large) {
            width: 100%;
          }
          padding: 0;
          box-sizing: border-box;
          border-radius: var(--rounded-md);

          .sidebar-left__label {
            overflow: hidden;
            text-overflow: ellipsis;
          }

          svg {
            width: 3rem;
            font-size: 1.25em;
            text-align: center;
          }

          .category-name {
            color: var(--primary);
          }

          &.active {
            background: var(--primary-100);
          }

          &:hover:not(.active) {
            background: var(--primary-50);
          }
        }

        .badge-wrapper {
          &.bullet {
            .badge-category-bg {
              margin-left: 1em;
              margin-right: 1em;
              width: 1em;
              height: 1em;
            }
            .badge-category-parent-bg {
              margin-right: -1.5em;
              margin-left: 1em;
              width: 0.5em;
              position: relative;
              z-index: 9;
              height: 1em;
            }
          }
          .badge-category {
            font-size: 1em;
            align-items: center;
            width: auto;
            height: 100%;
            .d-icon-lock {
              width: 1.5em;
              order: 9;
            }
            .category-badge-icon {
              width: 3rem;
              height: 3rem;
              display: flex;
              justify-content: center;
              align-items: center;
              font-size: 1.25em;
              text-align: center;
              flex: none;
              margin: 0;
            }
          }
          &.none {
            margin: 0;
          }
        }
      }
    }
  }

  .footer__links {
    @include breakpoint(tablet) {
      html:not(.sidebar-left--open) & {
        display: none;
      }
    }
    li {
      @extend .detail;
      a {
        color: inherit;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    list-style-type: none;
    margin: 0;
  }
}

.sidebar-left__user {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  padding: 0.5rem 1rem 0.5rem 0.5rem;
  gap: 0.5rem;

  overflow: visible;
  // background: var(--primary-50);
  border: 0;
  // border: 1px solid var(--primary-100);
  background: none;
  border-radius: var(--rounded-xl);
  align-items: center;
  z-index: 999;
  position: relative;

  &.active {
    background: var(--primary-50);
    border-color: var(--primary-50);

    .d-icon {
      background: var(--primary-200);
    }
  }

  &:hover {
    .d-icon {
      background: var(--primary-200);
    }
  }

  .sidebar-left__user-info {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    flex: 1;

    .sidebar-left__greeting {
      font-size: 0.75rem;
    }
    .sidebar-left__name {
      font-weight: 600;
    }
  }

  .d-icon {
    font-size: 1.25rem;
    border-radius: var(--rounded-full);
    padding: 0.25rem;
  }

  & + .sidebar-left__user-menu {
    box-shadow: var(--shadow);
    background: var(--secondary);
    position: fixed;

    width: 12rem;
    z-index: 999999;
    border-radius: var(--rounded-lg);
    overflow: hidden;

    padding: 0.5rem;

    display: none;
    flex-direction: column;
    list-style: none;
    margin: 0;
    li {
      a {
        display: flex;
        padding: 0 0.625rem;
        height: 3rem;
        align-items: center;
        border-radius: var(--rounded);
        color: var(--primary);
        gap: 0.75rem;
        span {
          // font-size: 0.875rem;
        }
        &:hover {
          background: var(--primary-50);
        }
        svg {
          font-size: 1.25rem;
        }
      }
    }
  }
  &.active {
    & + .sidebar-left__user-menu {
      display: flex;
    }
    div {
      &:hover,
      &.active {
        background: none;
      }
    }
  }

  .avatar {
    width: 3rem;
    height: 3rem;
  }
}
