.sidebar-right-mini {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  grid-auto-rows: 7rem;
  gap: 1rem;
  align-items: stretch;
  & > div {
    display: flex;
    padding: 0.5rem;
    box-sizing: border-box;
    border-radius: var(--rounded-xl);
    background: var(--primary-50);
  }
  .mini-time {
    align-items: center;
    justify-content: center;
    font-size: 1.875rem;
    font-weight: 600;
  }
  .mini-emoji {
    align-items: center;
    justify-content: center;
    font-size: 3rem;
  }
  .mini-docs {
    background: rgb(234, 251, 255);
    padding: 0.75rem 0.75rem 0.75rem 0.75rem;
    position: relative;
    flex-direction: column;
    justify-content: center;
    .d-icon {
      transition: transform 0.1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    }
    &:hover {
      .d-icon {
        transform: translateX(50%);
      }
    }
    &__label {
      font-size: 0.75rem;
      width: 10ch;
      transform: translateX(0.0625rem);
    }
    &__title {
      font-size: 1.5rem;
      font-weight: 600;
    }
    &__emoji {
      font-size: 3rem;
      position: absolute;
      bottom: 0.5rem;
      right: 0.75rem;
    }
  }

  .mini-themes {
    background-color: #fffedf;
    // align-items: center;
    padding: 2rem 0.75rem 0.75rem 0.75rem;
    position: relative;
    flex-direction: column;
    justify-content: center;
    .d-icon {
      transition: transform 0.1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    }
    &:hover {
      .d-icon {
        transform: translateX(50%);
      }
    }
    &__label {
      font-size: 0.75rem;
      width: 10ch;
      line-height: 1;
      transform: translateX(0.0625rem);
    }
    &__title {
      font-size: 1.5rem;
      font-weight: 600;
    }
    &__emoji {
      font-size: 2rem;
      position: absolute;
      top: 0.25rem;
      right: 0.75rem;
    }
  }

  .mini-components {
    background: linear-gradient(
      0deg,
      rgba(246, 255, 211, 1) 0%,
      rgba(239, 255, 244, 1) 100%
    );

    padding: 2rem 0.75rem 0.75rem 0.75rem;
    position: relative;
    flex-direction: column;
    justify-content: center;
    .d-icon {
      transition: transform 0.1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    }
    &:hover {
      .d-icon {
        transform: translateX(50%);
      }
    }
    &__label {
      font-size: 0.75rem;
      width: 10ch;
      line-height: 1;
      transform: translateX(0.0625rem);
    }
    &__title {
      font-size: 1.25rem;
      font-weight: 600;
    }
    &__emoji {
      font-size: 2rem;
      position: absolute;
      top: 0.25rem;
      right: 0.75rem;
    }
  }
  .mini-totd {
    padding: 0.75rem;
    flex-direction: column;
    &__label {
      font-size: 0.75rem;
    }
    &__title {
      font-size: 0.875rem;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
    a {
      color: var(--primary);
    }
    ul {
      list-style: none;
      margin: 0;
      li {
        display: inline-flex;
        align-items: center;
        gap: 0.375rem;
        padding: 0.25rem 0.375rem;
        border: var(--border);
        border-radius: var(--rounded);
        font-size: 0.75rem;
        svg {
          font-size: 0.875rem;
        }
        .d-icon-heart {
          color: var(--love);
        }
      }
    }
  }
  .mini-birthday {
    flex-direction: column;
    padding: 0.75rem;

    &__message {
      font-size: 0.75rem;
    }
    &__name {
      display: inline-flex;
    //   font-weight: 600;
      font-size: 0.75rem;
      // align-items: baseline;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow-x: hidden;
      &:before {
        // content: "@";
      }
      &:after {
        content: "!";
      }
    }
    &__emoji {
      transform: translateY(0);
      transition: transform 0.1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    }
    &:hover {
      .mini-birthday__emoji {
        transform: translateY(-40%);
      }
    }
    .mini-birthday__avatar {
      margin-top: auto;
      align-items: flex-end;
      display: flex;
      justify-content: space-between;
      font-size: 1.5rem;
      .avatar {
        width: 3rem;
        height: 3rem;
      }
    }
  }
}
