@import "melon";

#whos-online {
  display: none;
}

.topic-navigation {
  grid-area: right;
}

.sidebar-right {
  grid-area: right;
  display: flex;
  padding: 1.5em 0;
  grid-column: span 2;
  order: 3;
  flex-direction: column;
  gap: 1em;
  @include breakpoint(large) {
    display: none;
  }
}

#create-topic {
  display: none;
  background: var(--primary);
  width: 100%;
  color: var(--secondary);
  font-size: var(--font-up-1);
  font-weight: 700;
  padding: 0.5em 0;
  margin-right: 0;
  .d-icon {
    color: inherit;
  }
}

// .navigation-controls {
//   &,
//   button {
//     width: 100%;
//   }
//   > * {
//     width: 100%;
//     white-space: initial;
//     &:not(:last-child) {
//       margin-right: 0;
//     }
//   }
// }

// user

.user__edit {
  margin-top: 0.5em;
  a {
    display: block;
    &:hover {
      button.btn {
        background: var(--primary-100);
      }
    }
  }
  button.btn {
    display: flex;
    width: 100%;
    padding: 0.5rem;
    font-size: 0.875rem;
    background: var(--primary-200);
  }
}

.user__wrapper {
  // display: none;
  @extend .elevation;
  overflow: hidden;
  text-align: center;
  padding: 0 !important;

  .btn {
    border-radius: var(--rounded-md);
  }
}

.user__wrapper--inner {
  padding: var(--elevation-pad);
}

.user__banner {
  background-color: var(--primary-100);
  background-position: 50% 50%;
  margin-bottom: calc((var(--elevation-pad) * -1) - (var(--avatar-size) / 2));
  padding-bottom: 40%; // 5:2 ratio
  width: 100%;
  background-size: cover;
}

img.avatar {
  object-fit: cover;
}

.user__avatar {
  img {
    background: var(--primary-50);
    border-radius: var(--rounded-full);
    border: 0.25em solid var(--primary-50);
    max-width: var(--avatar-size);
    height: var(--avatar-size);
    box-sizing: border-box;
  }
  position: relative;
  z-index: 1;

  margin-bottom: 0.5em;
}

.user__name {
  margin-bottom: 0;
  font-size: 1.25em;
}

.user__handle {
  line-height: 1;
  a {
    color: var(--primary-500);
    font-size: 0.875em;
  }
}

.user__bio {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  font-size: 0.875em;
  overflow: hidden;
  line-height: var(--line-height-large);
}
.user__link {
  font-size: 0.875em;
  padding-bottom: 1em;
  display: inline-block;
  a {
    color: var(--primary);
  }
}

span.second.username a {
  color: var(--primary-medium);
}

.username a {
  display: inline-flex;
  &:before {
    // content: "@";
  }
}

// stats

.stats__wrap {
  @extend .elevation;
}

.stats__users {
  list-style-type: none;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.stats__user {
  &:not(:last-child):after {
    content: ",\a0";
  }
  display: inline-flex;
}

.stats__total {
  @extend .detail;
  margin-top: 1em;
}
