#suggested-topics {
  .topic-list-header {
    display: table-header-group;
  }
}

.more-topics__container {
  & > .row {
    grid-column: span 4;
    @include breakpoint(mobile-extra-large) {
      grid-column: span 6;
    }
  }
  display: grid;
  max-width: unset;
  column-gap: var(--gap);
  grid-template-columns: repeat(6, minmax(0, 1fr));
  .more-topics__lists {
    grid-column: span 4;
    @include breakpoint(mobile-extra-large) {
      grid-column: span 6;
    }
  }
  .more-topics__browse-more {
    grid-column: span 4;
    @include breakpoint(mobile-extra-large) {
      grid-column: span 6;
    }
  }
}

.row > .topic-avatar {
  width: 3rem;
  margin-right: -3rem;
  overflow: visible;
  padding: 0;
  transform: translate(1rem, 1rem);
  border: 0;
}

.time-gap.small-action {
  .topic-avatar {
    transform: none;
  }
}

.topic-post {
  &.sticky-avatar {
    .topic-avatar {
      position: relative;
      top: unset;
    }
  }
}

.gap {
  padding: 0.5rem 1rem;
  background: var(--primary-50);
  border-radius: var(--rounded-xl);
  margin: 1rem auto;
  text-align: center;
  width: max-content;
  text-transform: capitalize;
}

.post-links-container {
  margin: 0 1rem;
}

section.post-menu-area {
  padding: 0 1rem;
}

.topic-map {
  margin: 1rem;
}

.topic-body {
  padding: 1rem 0 0 0;
  .topic-meta-data {
    align-items: center;

    height: 3rem;
    padding: 0 1rem 0 4.75rem;

    @include breakpoint(mobile-extra-large) {
      padding: 0 1rem 0 2rem;
    }
    .post-infos {
      align-items: baseline;
    }
    .names {
      flex-wrap: wrap;
      align-items: baseline;
      .user-title {
        flex-basis: 100%;
        font-size: 0.875rem;
      }
    }
  }
  .cooked {
    padding: 1rem;
  }
}

.post-notice {
  background: var(--primary-50);
  border-radius: var(--rounded-xl);
  margin: 1rem;
  border: none;
}

.topic-status-info,
.topic-timer-info,
.topic-body,
.topic-avatar,
.small-action .topic-avatar,
.small-action .small-action-desc {
  border-color: var(--primary-100);
}

.topic-post {
  border: 0;
}

#topic-title .title-wrapper {
  gap: 0.5rem;
}

#topic-title {
  margin: 0;
  .container {
    display: grid;
    gap: var(--gap);
    grid-template-columns: repeat(6, minmax(0, 1fr));
    &:before {
      content: none;
    }
    .title-wrapper {
      grid-column: span 4;
      @include breakpoint(tablet) {
        grid-column: span 6;
      }

      order: 0;
      padding: 1em;
      box-sizing: border-box;
      width: 100%;
      border: var(--border);
      border-width: 0 var(--central-border-r) 0 0;
    }
  }
}

.container.posts {
  column-gap: var(--gap);
  grid-template-columns: repeat(6, minmax(0, 1fr));
  > .row {
    border: var(--border);
    border-width: 0 var(--central-border-r) 0 0;
    grid-column: span 4;
    @include breakpoint(tablet) {
      grid-column: span 6;
      max-width: 100%;
    }
    order: 0;
  }
  .topic-navigation {
    grid-column: span 2;
    order: 1;
    display: flex;
    justify-content: center;
    @include breakpoint(mobile-extra-large) {
      grid-column: 4 / span 2;
      justify-content: unset;
    }
    .timeline-container .topic-timeline {
      display: flex;
      flex-direction: column;
    }
  }
}
