.topic-item-avatar {
  .avatar {
    width: 2em;
    height: 2em;
  }
}

.topic-list-item.visited .topic-list-data,
.latest-topic-list-item.visited,
.category-topic-link.visited {
  a.title:not(.badge-notification) {
    color: var(--primary);
  }
  span.badge-category {
    color: var(--primary-medium);
  }
  a.discourse-tag {
    color: var(--primary-medium);
  }
}

.topic-list-main-link {
  font-size: var(--font-up-1);
  a.title {
    padding: 15px 0;
    word-break: break-word;
    color: var(--primary);
  }

  .anon & {
    a.title:visited:not(.badge-notification) {
      color: var(--primary-medium);
    }
  }

  a.title.visited:not(.badge-notification) {
    color: var(--primary-medium);
  }
}

.topic-list .main-link a.title {
  font-size: 1em;
}

.topic-list-main-link,
.latest-topic-list-item .main-link,
.topic-list .main-link {
  font-size: unset;
}

.topic-list-item,
tr {
  border-color: var(--primary-100);
}

.topic-list-bottom {
  padding: 0 1em;
  .footer-message {
    padding: 0;
  }
}

.topic-filter {
  margin: 0 2em 0 auto;
  border: 0;
  background: 0;
  width: 5em;
  justify-self: flex-end;
  option {
    padding: 0;
  }
}

.topic-list-header {
  display: none;
  svg {
    font-size: 1.25em;
  }
}

.topic-list .badge-notification.new-topic {
  display: none;
}
