#list-area {
  .new-topic-list-header {
    // height: 5em;
    .header__desc {
      padding: 0 6em 1.5em 4em;

      // font-size: 0.875em;
    }
    display: flex;
    align-items: center;
    box-sizing: border-box;
    border-bottom: var(--border);
    .badge-wrapper.none {
      color: var(--primary);
      .badge-category {
        .category-badge-icon__emoji {
          height: 2rem;
          width: 2rem;
          justify-content: center;
          align-items: center;
          display: inline-flex;
          font-size: 1em;
        }
        font-size: 1.5em;
        font-weight: 700;
        gap: 1rem;
      }
    }
    h2 {
      margin: 0;
    }
  }
}

.list-controls {
  .navigation-controls,
  .category-breadcrumb {
    margin: 0;
  }
  box-sizing: border-box;
  border: var(--border);
  border-width: 0 var(--central-border-l) 0 var(--central-border-r);
  //   display: none;
  padding: 1.5em 1em 1.5em 0;
  grid-area: head;
  grid-column: span 4;
  @include breakpoint(large) {
    grid-column: 3 / span 6;
  }
  @include breakpoint(tablet) {
    grid-column: 2 / span 7;
  }
  @include breakpoint(mobile-extra-large) {
    grid-column: 1 / span 8;
  }
  align-self: flex-start;
  .combo-box summary.select-kit-header:not(.btn).combo-box-header {
    border: 0;
    padding: 0;
    outline: 0;
    outline-offset: 0;
    height: unset;
    overflow: visible;

    .caret-icon {
      display: none;
    }

    .name {
      display: inline-flex;
      align-items: center;
    }

    .name > svg {
      width: 4rem;
      text-align: center;
      margin: 0;
      flex: none;
      font-size: 1.5em;
      color: var(--primary);
    }

    svg + span {
      line-height: 1;
      font-size: 1.5em;
      color: var(--primary);
      font-weight: 700;
    }

    .badge-wrapper.none .badge-category {
      overflow: visible;
      align-items: center;
      .category-badge-icon {
        width: 4em;
        text-align: center;
        margin: 0;
        flex: none;
        font-size: 1em;
        transform: scale(1.5);
      }
      .category-name {
        font-size: 1.5em;
        color: var(--primary);
        font-weight: 700;
      }
    }
  }
  #navigation-bar {
    display: none;
  }

  .navigation-container {
    justify-content: space-between;
    flex-wrap: nowrap;
  }
}

.category-breadcrumb {
  justify-content: space-between;
  flex: 1;
}
.list-filter {
  position: relative;
  display: flex;
  align-items: center;

  button.list-filter__button {
    background: none;
    border: none;
  }

  ul.list-filter__menu {
    display: none;
  }

  &.active {
    button.list-filter__button {
      .d-icon {
        transform: rotate(180deg);
      }
    }
    ul.list-filter__menu {
      background: var(--secondary);
      top: 2em;
      z-index: 99;
      position: absolute;
      list-style: none;
      margin: 0;
      display: flex;
      flex-direction: column;
      box-shadow: var(--shadow);
      border-radius: var(--rounded-lg);
      overflow: hidden;
      li a {
        display: block;
        padding: 0.5em 0.625em;
        &:hover {
          background: var(--primary-50);
        }
      }
    }
  }
}
