body.has-full-page-chat {
  #main-outlet-wrapper #main-outlet {
    margin: 0;
    border-top: none;
    border-bottom: none;
    gap: 0 2rem;
    border-radius: 0;
  }

  .breadcrumbs {
    display: none;
  }

  .sidebar-section-wrapper {
    &[data-section-name="chat-dms"],
    &[data-section-name="chat-channels"] {
      display: block;
    }
  }

  [data-section-name="categories"] {
    display: none;
  }
}
