.docs {
  .docs-search {
    margin: 0;
    padding: 2rem;
    background: none;
    border-bottom: var(--border-inner);

    &-wrapper {
      display: flex;
      align-items: center;

      &::before {
        position: absolute;
        padding: 0 0.875rem;
        color: var(--neutral-50);
      }
    }

    &-bar {
      height: 2.5rem;
      padding-left: 2.5rem;
      border-radius: var(--rounded-full);
    }
  }

  .docs-browse {
    .docs-items {
      padding: 1rem;

      a {
        color: inherit;
      }

      .item-controls-buttons {
        .categories-amount,
        .tags-amount {
          display: none;
        }
      }

      .docs-item {
        gap: 0.5rem;
        padding: 0.5rem 0;

        &:hover {
          background: none;
        }

        &-count {
          color: var(--neutral-50);

          @include body-small;
        }

        .tag-id,
        .category-id {
          color: var(--neutral-10);

          @include body-medium;
        }
      }
    }

    .docs-topic-list {
      .docs-topic-link {
        color: var(--neutral-10);

        @include body-large;
      }
    }

    .loading-container {
      padding: 0;
    }

    .docs-topic {
      width: 100%;
      padding-right: 0.5rem;

      .docs-nav-link {
        &.more {
          padding: 1rem;

          @include body-large;
        }

        &.return {
          display: flex;
          gap: 1rem;
          padding: 1rem;

          @include label-large;
        }
      }

      .topic-content {
        padding: 0;

        & > h1 {
          margin: 0;
          padding: 1rem;
          border-top: var(--border-inner);
          border-bottom: var(--border-inner);

          @include headline-small;
        }
      }
    }
  }

  .docs-filters {
    min-width: 14rem;
    padding: 0;
    border-right: var(--border-inner);

    h3 {
      margin: 0;

      @include title-small;
    }
  }

  .empty-state {
    padding: 1rem;
    color: inherit;

    &-title {
      margin-bottom: 1rem;

      @include headline-small;
    }

    &-body {
      p {
        margin: 0;

        @include body-large;
      }
    }
  }
}
