.d-header {
  &-wrap {
    position: fixed;
    width: 100%;
  }
  box-sizing: content-box;
  height: 3rem;
  padding: 0.75rem 0;

  background-color: var(--neutral-100);
  border-bottom: 1px solid var(--neutral-90);
  box-shadow: none;

  .wrap {
    .contents {
      @include breakpoint(large) {
        display: flex;
      }

      display: grid;
      grid-template-areas: "logo search utility";
      grid-template-columns: var(--column-navigation) var(--column-content) var(
          --column-blocks
        );

      &
        > *:not(
          .home-logo-wrapper-outlet,
          .before-header-panel-outlet,
          .panel
        ) {
        display: none;
      }
    }
  }

  .hamburger-dropdown {
    display: none;
  }

  .title {
    display: none;
  }

  .home-logo-wrapper-outlet {
    display: flex;
    flex-shrink: 0;

    .logo-temp {
      @include headline-small;

      display: flex;
      width: min-content;
      margin: 0;

      img {
        width: auto;
        max-width: 12rem;
        height: auto;
        max-height: 2.5rem;
      }
    }
  }

  .extra-info-wrapper {
    display: none;
  }

  .d-header-icons {
    margin: 0;

    .badge-notification {
      border: 2px solid var(--neutral-100);
      background: var(--primary-50);
      color: var(--neutral-100);
      padding: 0 0.25rem;
      display: flex;
      align-items: center;
      justify-content: center;
      box-sizing: border-box;
      min-width: calc(1rem + 2px);
      height: calc(1rem + 2px);
      top: 0;
      right: 0;
      @include label-small;
    }

    li:has(.ai-bot-button) {
      display: none;
    }

    li.c-user {
      order: 9;
    }

    li > button,
    li > .icon {
      @include hover;

      box-sizing: border-box;
      width: 2.5rem;
      height: 2.5rem;
      padding: 0;

      color: var(--neutral-10);

      background: none;
      border: 0;
      border-radius: var(--rounded-full);

      transition: none;

      &:hover {
        color: inherit;
        background: inherit;
        border: 0;
      }

      .avatar {
        width: 2rem;
        height: 2rem;
      }
    }

    .active {
      .icon {
        background-color: var(--neutral-95);
        border: 0;

        &::after {
          content: unset;
        }
      }
    }

    li.search-dropdown {
      order: -2;
    }

    li.chat-header-icon {
      @include breakpoint(tablet) {
        display: none;
      }
    }

    li.c-create {
      order: -1;
      .d-icon {
        color: var(--primary);
      }
    }

    li.user-menu-panel {
      img.avatar {
        display: none;
      }
    }
  }
}

.search-header--visible {
  .panel .header-dropdown-toggle.search-dropdown,
  .panel .search-menu {
    @include breakpoint(tablet) {
      display: flex;
    }

    display: none;
  }

  .before-header-panel-outlet {
    @include breakpoint(tablet) {
      display: none;
    }

    flex: 1 1 auto;
  }
}

.d-header-icons {
  .header-dropdown-toggle {
    > .btn {
      .d-icon {
        color: var(--primary);
      }
      .discourse-no-touch & {
        &:hover {
          .d-icon {
            color: var(--primary);
          }
        }
      }
    }
  }

  li#current-user > .d-icon,
  li > .btn .d-icon,
  li > {
    height: 0.75em;
  }
}

.header-dropdown-toggle.current-user {
  display: flex;
  align-items: center;
  > .d-icon-bell {
    height: 1.25em;
    position: absolute;
    color: var(--primary);
  }
}

.menu-panel {
  border: none;
  border-radius: var(--rounded-md);
}
