input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
  padding: 0.5rem 1rem;
  color: var(--neutral-10);
  background: var(--neutral-100);
  border: var(--border-outer);

  @include body-large;
}
