.floating-search-input {
  width: 100%;
  padding: 0;
  @include breakpoint(tablet) {
    padding: 0;
  }

  max-width: 45rem;
  .search-banner-inner {
    &.wrap {
      .search-menu {
        width: 100%;

        .search-random-quick-tip {
          display: none;
        }
        .search-menu-panel {
          background: none;
          box-shadow: var(--shadow-menu-panel);
          z-index: 0;
        }
        .search-icon {
          display: none;
        }

        .searching {
          display: none;
          order: 4;
          padding: 0;
          .clear-search {
            &:hover {
              background: var(--neutral-90);
            }
            margin: 0;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 2.25rem;
            height: 2.25rem;
            border-radius: var(--rounded-full);
            color: inherit;
            &:visited {
              color: inherit;
            }
          }
          button.show-advanced-search {
            padding: 0;
            border: 0;
            width: 2.25rem;
            height: 2.25rem;
            display: flex;
            justify-content: center;
            align-items: center;
            color: inherit;
            transition: none;
            border-radius: var(--rounded-full);
            &:hover {
              background: var(--neutral-90);
            }
          }
        }

        .results {
          border: 0;
          padding: 0;

          .search-result-topic {
            box-sizing: border-box;
            padding: 0.5rem;
          }

          .search-menu-initial-options {
            margin-top: 0.5em;

            .search-menu-assistant-item {
              svg {
                display: none;
              }

              &[data-usage="recent-search"] {
                a.search-link {
                  display: flex;
                  align-items: center;
                  column-gap: 0.5rem;

                  span[aria-label="Search"] {
                    display: none;
                  }
                  .search-item-slug {
                    order: 2;
                  }
                }
              }
            }
          }
        }

        .search-menu-container {
          border-radius: var(--rounded-full);
          background: var(--neutral-100);
          border: var(--border-outer);
          box-sizing: border-box;
          &:hover {
            background: var(--neutral-100);
            // @include elevation-3;
          }
          &:has(.search-menu-panel) {
            background: none;
            box-shadow: none;
            .searching {
              display: flex;
            }
          }

          .search-link {
            padding: 0.5rem 0.875rem;
            &:hover,
            &:focus {
              background-color: var(--neutral-95);
            }
          }
        }

        .search-menu-recent {
          margin: 0;
          padding: 0;
          border: none;
          h4 {
            @include title-medium;
          }
        }

        .search-input {
          z-index: 1;
          background: none;

          position: relative;
          margin: 0;

          &:focus-within {
            background-color: transparent;

            outline: 0;
          }
          #search-term {
            padding: 0.5rem 0;
          }
          .search-context ~ #search-term {
            padding: 0;
          }
          background-color: transparent;
          border: none;
          height: 2.5rem;
          padding: 0 0.875rem 0;
          gap: 0.5rem;
        }
      }
    }
  }
}

.search-container .search-cta {
  flex: 0 0 auto;
  .d-icon {
    display: none;
  }
}

.search-menu .searching .spinner,
.search-menu-container .searching .spinner {
  margin-right: 1rem;
}

.search-menu .heading,
.search-menu-container .heading {
  padding: 0 0.75rem;
}

// Search page

// AI
.semantic-search__container.search-results {
  margin: 0;
}

.search-results:has(.fps-result-entries:empty) {
  padding: 0;
}
