#topic-title {
  border-bottom: var(--border-outer);
  padding: 1rem;
  margin: 0;
  h1 {
    @include headline-small;

    a {
      color: var(--neutral-10);
    }
  }
}

.more-topics__container .nav {
  position: relative;
}

.topic-meta-data {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;

  .post-infos {
    display: contents;
    .reply-to-tab {
      width: 100%;
      order: 10;
      color: var(--neutral-50);
      margin: 0.25rem 0 0 0;
      max-width: unset;
      &:before {
        @include i($font-size: 1rem);
        content: "prompt_suggestion";
      }
      .d-icon {
        display: none;
      }
      @include body-small;
      .avatar {
        width: 1rem;
        height: 1rem;
        margin: 0 0.25rem;
      }
      span {
        color: var(--primary-50);
      }
      &:hover {
        span {
          text-decoration: underline;
        }
      }
    }
    .post-info {
      &.post-date {
        order: 2;
      }

      &.edits {
        display: inline-flex;
        order: 3;
        &:before {
          content: "\00a0·\00a0";
        }
        .widget-button {
          @include body-small;
          padding: 0;
          .d-icon {
            display: none;
          }
          &:before {
            @include i($font-size: 1rem);
            content: "edit";
            color: var(--neutral-50);
          }
          span {
            display: none;
          }
        }
      }
      @include body-small;
      a {
        color: var(--neutral-50);
      }
    }
  }

  .names {
    display: contents;
    div.customer-flair-wrapper {
      order: 5;
      width: 100%;
      .customer-flair {
        margin: 0;
        height: 1.25rem;
        align-items: center;
        padding: 0 0.5rem;
        border: 0;
        border-radius: var(--rounded-full);
        display: inline-flex;
      }
    }
    span {
      margin: 0;
      color: var(--neutral-50);
      @include body-small;
      &.first {
        a {
          @include label-large;
          color: var(--neutral-10);
        }
        margin-right: 0.5rem;
      }
      &.second {
        @include body-small;
        order: 1;
        // width: 100%;
        a {
          color: var(--neutral-50);
        }
        &:after {
          content: "\00a0·\00a0";
        }
      }
      &.user-title {
        color: var(--neutral-50);
        order: 9;
        width: 100%;
      }
    }
  }
}

.small-action {
  border-bottom: var(--border-inner);
  &.topic-post-visited {
    .topic-post-visited-line {
      border: 0;
      padding: 1rem;
      @include body-medium;
      color: var(--neutral-50);
      span.topic-post-visited-message {
        background: none;
        color: inherit;
      }
    }
  }
}

.topic-post {
  border: 0;
  border-bottom: var(--border-inner);

  article.onscreen-post {
    padding: 1rem;
    .row {
      column-gap: 1rem;
      .topic-avatar {
        position: sticky;
        top: calc(
          var(--header-offset) + 1rem
        ) !important; // why is sticky conditional?
        float: unset;
        border: 0;
        padding: 0;
        width: unset;
        margin: 0;
      }
      .topic-body {
        &.highlighted {
          animation: none;
        }
        flex: 1;
        border: 0;
        width: unset;
        float: unset;
        padding: 0;
        .topic-meta-data {
          padding: 0;
        }
        .regular.contents {
          margin-top: 1rem;
        }
        .cooked {
          padding: 0;
          @include body-large;
        }
      }
    }
  }
}
