:root {
  --neutral-0: var(--primary);
  --neutral-5: var(--primary-900);
  --neutral-10: var(--primary-800);
  --neutral-20: var(--primary-700);
  --neutral-30: var(--primary-600);
  --neutral-40: var(--primary-500);
  --neutral-50: var(--primary-400);
  --neutral-60: var(--primary-300);
  --neutral-70: var(--primary-200);
  --neutral-80: var(--primary-200);
  --neutral-90: var(--primary-200);
  --neutral-95: var(--primary-50);
  --neutral-100: var(--secondary);
}
