$icon-map: (
  home: "home",
  topics: "feed",
  categories: "grid_view",
  messages: "mail",
  tags: "tag",
  admin: "settings",
  bookmarks: "bookmark",
  following: "news",
  assigned: "assignment_add",
  mentions: "alternate_email",
  drafts: "draft",
  invites: "person_add",
  preferences: "settings",
  logout: "logout",
  chat: "chat_bubble",
  docs: "book_2",
  flagged: "flag",
  groups: "group",
);

@mixin generate-icons {
  @each $name, $icon-name in $icon-map {
    [data-name="#{$name}"] {
      &::before {
        content: "#{$icon-name}";
      }
    }
  }
}

@include generate-icons;

$d-icon-replace: (
  d-icon-hands-helping: "handshake",
  d-icon-reply: "reply",
  d-icon-flag: "flag",
  d-icon-bookmark: "bookmark",
  d-icon-d-topic-share: "share",
  d-icon-d-post-share: "link",
  d-icon-wrench: "settings",
  d-icon-pencil-alt: "edit",
  d-icon-ellipsis-h: "more_horiz",
  d-icon-search: "search",
  d-icon-thumbtack: "keep",
  d-icon-far-circle: "check_box_outline_blank",
  d-icon-times-circle: "check_box",
  d-icon-sort-alpha-up: "sort_by_alpha",
  d-icon-plus: "add",
  //check_box_outline_blank
);

*:has(> .d-icon):before {
  @include i;
}

@mixin replaceIcons($map) {
  @each $old, $new in $map {
    *:has(> .d-icon.#{$old}):before {
      content: $new;
    }
    .d-icon.#{$old} {
      display: none;
    }
  }
}

@include replaceIcons($d-icon-replace);
