<a href="/c/theme-component/120/all" class="mini-components">
  <span class="mini-components__label">
    {{theme-i18n "sidebar.right.mini.components.label"}}
  </span>
  <span class="mini-components__title">
    {{theme-i18n "sidebar.right.mini.components.title"}}
  </span>
  <span class="mini-components__emoji">
    {{theme-i18n "sidebar.right.mini.components.emoji"}}
  </span>
  {{d-icon "arrow-right"}}
</a>