<div class="mini-docs">
  <span class="mini-docs__label">
    {{theme-i18n "sidebar.right.mini.docs.label"}}
  </span>
  <span class="mini-docs__title">
    {{theme-i18n "sidebar.right.mini.docs.title"}}
  </span>
  <span class="mini-docs__emoji">
    {{theme-i18n "sidebar.right.mini.docs.emoji"}}
  </span>
  {{d-icon "arrow-right"}}
</div>