<a href="/c/theme/61/none/l/top" class="mini-themes">
  <span class="mini-themes__label">
    {{theme-i18n "sidebar.right.mini.themes.label"}}
  </span>
  <span class="mini-themes__title">
    {{theme-i18n "sidebar.right.mini.themes.title"}}
  </span>
  <span class="mini-themes__emoji">
    {{theme-i18n "sidebar.right.mini.themes.emoji"}}
  </span>
  {{d-icon "arrow-right"}}
</a>