<div class="stats__wrap">
  <h3 class="stats__heading">
    Our Community
  </h3>

  <div class="stats__total">
    {{number this.stats.users_count}}
    members
  </div>

  <div class="stats__total">
    {{number this.stats.topics_count}}
    topics
  </div>

  <div class="stats__total">
    {{number this.stats.posts_count}}
    posts
  </div>
</div>