<div class="melon__wrapper">
  <div class="melon__header">
    <h3>
      Top Contributors
    </h3>
    <span>
      All-time
    </span>
  </div>
  <ol class="melon__chart">
    {{#each topContributors as |topContributor|}}
      <li class="melon__entry">
        <div class="melon__art">
          {{avatar topContributor.user imageSize="medium"}}
        </div>
        <div class="melon__info">
          <div class="melon__title">
            <span>
              {{html-safe topContributor.user.username}}
            </span>
          </div>
          <div class="melon__artist">
            <span>
              {{topContributor.likes_received}} likes
            </span>
          </div>
        </div>
      </li>
    {{/each}}
  </ol>
  <div class="melon__expand">
    <a href="/u?order=likes_received&period=yearly">
      View All
    </a>
  </div>
</div>