<div class="sticky-sidebar">
  <div
    {{did-insert this.didInsert}}
    {{scroll this.onScroll}}
    style={{concat
      "position: "
      this.position
      "; top: "
      this.top
      "px; bottom: "
      this.bottom
      "px"
    }}
  >
    {{yield}}
  </div>
</div>