<div class="sticky-sidebar">
  <div
    {{did-insert this.didInsert}}
    {{scroll this.onScroll}}
    style={{htmlSafe
      (concat
        "position: "
        this.position
        "; top: "
        this.top
        "; bottom: "
        this.bottom
        ""
      )
    }}
  >
    {{yield}}
  </div>
</div>