// todo: these can probably be fixed elsewhere
// so this file can be removed
.topic-navigation + .row {
  max-width: unset !important; // overrides very specific core rule
}

.topic-post article.onscreen-post .row .topic-avatar {
  float: left;
  margin-right: 0.5em;
}

.d-header .extra-info-wrapper ~ .panel {
  .d-header-icons,
  .header-buttons {
    display: flex;
  }
}

.read-state {
  right: 1em;
}

.topic-title-outlet.back {
  display: none;
}

// hide footer nav on mobile chat routes to maximize chat space
body.has-full-page-chat {
  .sidebar-wrapper {
    display: none;
  }
}

.topic-footer-main-buttons {
  .create,
  .btn {
    border-radius: var(--rounded-full);
  }
}
