.contents {
  container-type: inline-size;
}

.c-categories {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-template-rows: auto;
  gap: 1rem;
  padding: 1rem;
  border-top: var(--border-inner);

  &__item {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 0.5rem;
    background: var(--neutral-100);
    border: var(--border-outer);
    border-radius: var(--rounded-lg);

    @include hover($opacity: 0.02);

    &-heading {
      margin-bottom: 0.5rem;
      font-size: var(--font-0);

      @include title-large;

      .badge-category__wrapper {
        white-space: initial;

        .badge-category {
          gap: 0.5rem;
          align-items: baseline;
        }
      }
    }

    &-description {
      margin: 0 0 1rem;
      color: var(--primary-medium);

      @include body-medium;

      p {
        margin: 0;
      }
    }

    &-metadata {
      color: var(--primary-medium);

      @include label-small;
    }

    &-more {
      color: var(--primary-high);

      @include body-small;

      &::first-letter {
        text-transform: capitalize;
      }

      &:visited {
        color: var(--primary-high);
      }

      &:hover {
        text-decoration: underline;
      }
    }

    h6 {
      margin-top: 1rem;
      padding-top: 1rem;
      border-top: var(--border-outer);

      @include body-small;
    }

    &-subcategories {
      display: flex;
      flex-wrap: wrap;
      gap: 0.375rem;
      align-items: center;
      margin-bottom: 1rem;

      @include body-small;

      .badge-category__wrapper {
        padding: 0.25rem 0.625rem 0.25rem 0.5rem;
        white-space: nowrap;
        background: var(--neutral-100);
        border: var(--border-outer);
        border-radius: var(--rounded-md);

        @include hover($opacity: 0.08);

        .badge-category {
          gap: 0.25rem;
          width: 100%;
          font-size: var(--font-0);

          @include label-large;

          &::before {
            width: 1rem;
            height: 1rem;
            font-size: 0.75rem;
          }
        }
      }
    }

    &-topics {
      display: flex;
      flex-direction: column;
      gap: 0.75rem;
      margin: auto 0 0;
      padding-top: 0.75rem;
      border-top: var(--border-outer);

      ul {
        display: flex;
        flex-direction: column;
        gap: 0.125rem;
        align-items: flex-start;
        justify-self: flex-end;
        margin: 0;
        list-style: none;

        li {
          overflow: hidden;
          display: flex;
          gap: 0.125rem;
          max-width: 100%;

          @include body-medium;

          &::before {
            content: "•";
            display: flex;
            align-items: baseline;
            justify-content: center;
            width: 1rem;
          }

          a {
            overflow: hidden;
            display: inline-flex;
            flex: 1;
            gap: 0.375rem;
            align-items: baseline;
            color: var(--primary-medium);

            span:first-child {
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;

              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
      }
    }
  }

  @container (max-width: 48rem) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  @container (max-width: 32rem) {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 0.5rem;
    padding: 0;
    background: var(--neutral-95);

    &__item {
      border: 0;
      border-radius: 0;
    }
  }
}

.category-boxes-with-topics {
  display: none;
}

div:has(> .category-list) {
  display: none;
}

.latest-topic-list,
.top-topic-list {
  margin: 0 1rem;
}
