body:not(.admin-interface) {
  @include breakpoint(tablet) {
    &[class*="archetype-"] {
      .sidebar-wrapper {
        display: none;
      }
    }

    .sidebar-wrapper {
      position: fixed;
      z-index: 999;
      top: unset;
      right: 0;
      bottom: 0;
      left: 0;
      display: flex;
      justify-content: center;
      box-sizing: border-box;
      height: var(--mobile-nav-h);
      padding: 0;
      background: var(--neutral-100);
      border-top: var(--border-outer);

      .sidebar-container {
        padding-top: 0;
      }

      .sidebar-custom-sections {
        overflow: auto;
        display: flex;
        flex: 1 1 auto;
        width: 100%;
      }

      .sidebar-section[data-section-name="you"] {
        display: none;
      }

      .sidebar-section-link-wrapper:has(.--link-button) {
        display: none;
      }

      [data-list-item-name="Chat"],
      [data-list-item-name="Tags"] {
        display: flex;
      }

      .sidebar-sections {
        display: contents;

        [data-section-name="user-threads"] {
          display: none;
        }
      }

      .sidebar__panel-switch-button {
        display: none;
      }

      .sidebar-section {
        width: 100%;
      }

      .sidebar-section-wrapper {
        display: flex;
      }

      .sidebar-section-content {
        display: contents;
      }

      .sidebar-section-link-wrapper {
        flex: 1 1 auto;
      }

      .sidebar-section-link-suffix {
        top: 0.75rem;
        left: calc(50% + 0.25rem);
      }
    }
  }

  .sidebar-wrapper {
    --d-sidebar-section-link-prefix-margin-right: 1rem;
    --d-sidebar-link-icon-color: var(--primary);
    --d-sidebar-section-link-icon-size: 1.25em;
    --d-sidebar-highlight-color: var(--primary);
    font-size: var(--font-down-1);

    .sidebar-container {
      padding-top: 0.75rem;
      border: none;
    }

    .sidebar-section-header-caret {
      display: none;
    }
  }

  .sidebar-section-link-wrapper {
    .sidebar-section-link {
      height: 2.5rem;
      border-radius: var(--rounded-md);

      &.active {
        font-weight: 600;
      }
    }

    .d-icon-wrench {
      width: 0.85em; // a little too large by default
    }
  }

  .sidebar-more-section-links-details-content {
    padding: 0.5em;
  }

  .sidebar-more-section-links-details-content-footer {
    border: none;
  }

  .sidebar-section-header-collapsable {
    pointer-events: none;
  }

  .sidebar-section-header-button {
    border-radius: var(--rounded-full);
  }

  .sidebar-section-header-text {
    font-size: var(--font-down-1);
    font-weight: 400;
  }

  .sidebar-footer-wrapper .sidebar-footer-actions {
    margin-left: 0;
  }

  .sidebar-footer-actions-keyboard-shortcuts {
    display: none;
  }

  .sidebar-section-wrapper .sidebar-section-header-wrapper {
    border-radius: var(--rounded-md);

    .discourse-no-touch & {
      &:hover,
      &:focus {
        background: transparent;
      }
    }
  }

  .sidebar-section-header-global-indicator {
    display: none;
  }

  .sidebar-section {
    margin-bottom: 1rem;
    border-bottom: 1px solid var(--primary-low);

    &[data-section-name="categories"] {
      border: none;
    }
  }

  .sidebar-section-link-prefix.icon {
    font-size: var(--font-up-2);
  }

  .sidebar-section-wrapper {
    padding-bottom: 1em;

    &[data-section-name="chat-channels"],
    &[data-section-name="chat-dms"],
    &[data-section-name="tags"],
    &[data-section-name="messages"] {
      display: none;
    }
  }

  [data-list-item-name="Chat"] {
    display: none;
  }

  #sidebar-section-content-categories {
    .sidebar-section-link-wrapper[data-category-id] {
      .sidebar-section-link-prefix {
        &::before {
          content: "📁";
          display: flex;
          align-items: center;
          justify-content: center;
          width: 1rem;
          height: 1rem;
          padding-left: 0.25em; // alignment fix
          font-size: 1rem;
          background: none;
        }
      }

      .prefix-square,
      .prefix-span {
        visibility: hidden;
      }
    }

    .sidebar-section-link-prefix.span .prefix-badge {
      right: -0.35em;
    }
  }

  [data-link-name="all-categories"],
  [data-link-name="all-tags"] {
    .d-icon {
      height: 0.75em; // a little too large by default
    }
  }

  // The default sidebar becomes slide-out for smaller screens
  // but we still want to use it, so a duplicate is added
  // with the class c-small-sidebar
  @media screen and (max-width: 1000px) {
    .sidebar-wrapper {
      .sidebar-section-wrapper .sidebar-section-header-wrapper {
        display: none;
      }

      .sidebar-section-wrapper {
        margin: 0;

        &[data-section-name="categories"],
        &[data-section-name="chat-channels"],
        &[data-section-name="chat-dms"],
        &[data-section-name="tags"],
        &[data-section-name="messages"] {
          display: none;
        }
      }

      .sidebar-sections {
        gap: 0;
        padding-top: 0;
      }

      .sidebar-section {
        border: none;
      }

      .sidebar-section-content {
        padding: 0;
      }

      .sidebar-section-link {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 3.5rem;

        .sidebar-section-link-content-text {
          max-width: 6em;
        }

        &.active {
          background: transparent;

          .sidebar-section-link-prefix.icon {
            background: var(--primary-very-low);
          }
        }

        .discourse-no-touch & {
          &:hover,
          &:focus {
            background: transparent;
          }
        }
      }

      [data-list-item-name="Tags"],
      [data-list-item-name="Customize this section"],
      .sidebar-more-section-links-details-summary {
        display: none;
      }

      .sidebar-section-link-prefix.icon {
        width: 1.25rem;
        margin: 0;
        padding: 0.125rem 0.875rem;
        font-size: var(--font-up-3);
        border-radius: var(--rounded-xl);
      }

      .sidebar-section-link-content-text {
        font-size: var(--font-down-1);
      }

      .sidebar-section-link-suffix {
        position: absolute;
        top: 0.25rem;
        right: 1rem;
      }
    }

    .sidebar-footer-wrapper {
      display: none;
    }

    .sidebar__panel-switch-button {
      .d-button-label {
        display: none;
      }

      .d-icon {
        margin: 0;
        font-size: var(--font-up-2);
      }
    }
  }
}

.global-notice .close {
  width: 2em;
  height: 2em;
  font-size: var(--font-down-1);
}

.navigation-container {
  .category-breadcrumb,
  #navigation-bar {
    display: none;
  }

  .c-categories {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    &__item-heading {
      box-sizing: border-box;
      margin: 0;
    }

    .badge-category__wrapper,
    .badge-category,
    .badge-category__name {
      width: 100%;
    }
  }
}

.navigation-container .navigation-controls {
  display: grid;
  width: 100%;
  margin: 0;
  padding: 1rem;

  & > *:not(:last-child) {
    margin: 0;
  }

  .bulk-select {
    display: none;
  }

  h2 {
    &::before {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 2rem;
    }
  }

  .navigation-topics & {
    display: flex;
  }

  .navigation-categories & {
    display: flex;

    .breadcrumbs__title {
      flex: 1;
    }

    #create-category {
      order: 9;
    }

    .categories-admin-dropdown {
      order: 9;
    }
  }

  .navigation-category & {
    grid-template: "title title notifications edit . list" auto ". description description description description list" auto / 2rem auto 2.5rem 2.5rem 1fr auto;
    gap: 0.5rem 1rem;
  }

  .breadcrumbs {
    display: contents;

    &__select {
      grid-area: list;
    }

    &__category {
      display: contents;
    }

    &__title {
      grid-area: title;
      grid-column: span 2;
      min-height: 2.5rem;
      padding: 0;
    }

    &__desc {
      grid-column-start: 1;
      grid-column-end: -1;
      white-space: initial;
    }
  }

  .notifications-tracking-trigger {
    grid-area: notifications;
    border-radius: var(--rounded-full);
  }

  .edit-category {
    position: relative;
    grid-area: edit;

    [aria-hidden="true"] {
      display: none;
    }
  }
}

.breadcrumbs {
  display: flex;
  gap: 2rem;
  align-items: flex-start;
  order: -1;
  box-sizing: border-box;
  padding: 1rem 1rem 1rem 0;
  border-bottom: var(--border-inner);

  &__title {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin: 0;

    @include headline-small;

    .badge-category__wrapper {
      font-size: inherit;

      .badge-category {
        gap: 0.5rem;
        align-items: baseline;

        &::before {
          width: 2rem;
        }

        .badge-category__name {
          white-space: initial;
        }
      }
    }

    .badge {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 0.375rem;
      font-size: 24px;

      &[data-badge-type="emoji"] {
        width: 1.25rem;
        font-size: 1.25rem;
        line-height: 1;
      }

      &[data-clickable="true"] {
        cursor: pointer;
      }
    }
  }

  &__category {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  &__desc {
    display: inline-block;

    @include body-medium;

    p {
      margin: 0;
    }
  }

  &__select {
    cursor: pointer;
    width: min-content;
    height: 2.5rem;
    margin-bottom: 0;
    margin-left: auto;
    padding: 0;
    color: var(--neutral-30);
    text-align: right;
    background: none;
    border: none;

    @include body-medium;
  }
}

body:has(.admin-main-nav .nav-pills) {
  .--temp.admin-main-nav {
    display: none;
  }
}

// Styles for custom sidebar categories section
// https://github.com/discourse/discourse-sidebar-nested-categories
[data-section-name="Categories"] {
  display: none !important;
  border: none !important; // very specific in core

  @media screen and (min-width: 1001px) {
    display: block !important; // overrides other important
  }
}

[data-list-item-name="category"] {
  .sidebar-section-link-prefix.span {
    display: none;
  }

  .sidebar-section-link {
    &::before {
      content: "📁";
      position: relative;
      top: 0.15em; // vertical alignment
      display: flex;
      align-items: center;
      justify-content: center;
      width: 1.25rem;
      height: 1.25rem;
      margin-right: var(--d-sidebar-section-link-prefix-margin-right);
      font-size: 1.25rem;
      background: none;
    }
  }
}

.sidebar-section-link-wrapper[data-list-item-name="subcategory"] {
  margin-left: 2.25em;
  padding-left: 2.3em;

  .sidebar-section-link-prefix.span {
    width: unset;
    margin: 0;

    .prefix-span {
      display: none;
      width: unset;
    }
  }

  .sidebar-section-link-prefix.span .prefix-badge {
    position: relative;
    top: unset;
    width: 0.86em;
    height: 0.86em;
    margin-right: 0.15em;
    margin-left: -0.25em; // horizontal alignment
  }
}

body:not(.has-full-page-chat) {
  [data-section-name="user-threads"] {
    display: none;
  }
}
