// @import "presets";
@import "sidebar-right";
@import "sidebar-right-mini";
@import "sidebar-left";
@import "header";
@import "display-none";
@import "chat-drawer";
@import "badges";
@import "buttons";
@import "topic-list-header";
@import "topic-list";

@import "select-kit";
@import "mixins";
@import "onebox";
@import "navs";

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

:root {
  --d-max-width: 1280px;

  --shadow-sm: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  --shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
    rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
    rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;

  --avatar-size: 5.5rem;

  --rounded-none: 0;
  --rounded-sm: 0.125rem;
  --rounded: 0.25rem;
  --rounded-md: 0.375rem;
  --rounded-lg: 0.5rem;
  --rounded-xl: 0.75rem;
  --rounded-2xl: 1rem;
  --rounded-3xl: 1.5rem;
  --rounded-4xl: 3rem;

  --rounded-full: 9999px;

  --border: 1px solid var(--primary-100);
  --border-dark: 1px solid var(--primary-200);

  --base-font-size: 16px;

  --central-border-r: 1px;
  --central-border-l: 1px;

  --elevation-pad: 1.5em;

  --heading-font-family: system-ui, Helvetica, sans-serif;
  --font-family: system-ui, Helvetica, sans-serif;

  @include breakpoint(mobile-extra-large) {
    --central-border-r: 0px;
    --central-border-l: 0px;
  }
}

@keyframes background-fade-highlight {
  0% {
    background-color: transparent;
  }
  100% {
    background-color: transparent;
  }
}

html {
  overscroll-behavior: contain;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.notification-count {
  min-width: 1rem;
  height: 1rem;
  font-size: 0.6875rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border-radius: var(--rounded-xl);
  background: var(--tertiary);
  position: absolute;
  top: -0.25rem;
  right: -0.25rem;
  text-align: right;
  padding: 0 0.1875rem;
  color: var(--secondary);
}

body.has-full-page-chat {
  .sidebar-left {
    display: none;
  }
}

// material icon set size reset

svg.svg-icon {
  transform: initial;
}

// end

.wrap {
  padding: 0 1em;
  @include breakpoint(tablet) {
    padding: 0 0.5em;
  }
  @include breakpoint(mobile-extra-large) {
    padding: 0 0.5em;
  }
}

#main-outlet-wrapper.wrap {
  @include breakpoint(mobile-extra-large) {
    padding: 0;
  }
}

// extends

.elevation {
  position: relative;
  padding: var(--elevation-pad);
  border-radius: var(--rounded-xl);
  height: fit-content;
  background: var(--primary-50);
}

.detail {
  font-size: 0.6875rem;
  color: var(--primary-medium);
}

body:not(.navigation-topics):not(.navigation-categories):not(.category) {
  #main-outlet {
    grid-template-areas: "left alerts" "left pins" "left main";
  }
  #main-container + .container,
  #main-container + section,
  #main-container + div {
    grid-area: main;
    grid-column: 3 / span 6;
    border-left: var(--border);
    border-right: var(--border);
    padding: 1rem;
    box-sizing: border-box;

    @include breakpoint(mobile-extra-large) {
      grid-column: span 8;
    }
  }
}
body.category.archetype-regular {
  #main-container + div {
    grid-area: main;
    grid-column: 3 / span 6;
    @include breakpoint(tablet) {
      grid-column: 2 / span 7;
    }
    @include breakpoint(mobile-extra-large) {
      grid-column: span 8;
    }
    border-left: var(--border);
  }
}

// body.chat-drawer-active {
//   #main-container + .container,
//   #main-container + section,
//   #main-container + div {
//     grid-column: span 4 !important;
//   }
//   .sidebar-right {
//     visibility: hidden;
//   }
// }

body.archetype-regular,
body.archetype-banner {
  #main-outlet {
    grid-template-areas: "left alerts" "left pins" "left main" !important;
  }
}

#main-outlet {
  --gap: 0rem;
  display: grid;
  grid-template-columns: repeat(6, minmax(0, 1fr)) calc(19rem + 1.5rem);
  grid-template-rows: auto auto 1fr;
  grid-auto-rows: min-content;
  column-gap: var(--gap);
  grid-template-areas:
    "left alerts right"
    "left head right"
    "left main right";
  padding-top: 0;
  @include breakpoint(large) {
    grid-template-areas:
      "alerts alerts"
      "left head"
      "left main";
  }

  @include breakpoint(tablet) {
    --gap: 0.5rem;
    grid-template-columns: 3rem repeat(7, minmax(0, 1fr));
  }

  @include breakpoint(mobile-extra-large) {
    grid-template-areas:
      "alerts"
      "head"
      "main";
  }
}

#main-outlet-wrapper {
  margin: 0 auto;
  align-items: flex-start;
}

#main-container {
  grid-area: alerts;
  grid-column: span 4;
}

.alert {
  margin: 0;
}

.navigation-container {
  --nav-space: 1em;
}

.navigation-container > *:not(.navigation-controls) {
  // display: none !important;
}

.list-container #whos-online {
  display: none;
}

// hero

.hero {
  display: none;
}

.topic-list {
  .posts,
  .views,
  .activity {
    display: none;
  }
}

.topic-list-header {
  th {
    display: flex;
    color: var(--primary);
    border-bottom: var(--border);
    height: 2em;
    align-items: center;
    // padding: 0 1em;

    button {
      flex-basis: 4em;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    span {
      font-size: 1.25em;
      font-weight: 700;
    }
  }

  tr {
    border: 0;
  }

  .topic-list-data {
    padding: 0;
  }
}

.topic-list .topic-list-data.bulk-select label {
  padding: 0;
}

.topic-list .topic-list-item-separator .topic-list-data span {
  background: var(--secondary-very-high);
}

.topic-list-body {
  border: 0;
  .category-badge-icon {
    display: none;
  }
}

.topic-list .topic-list-item-separator .topic-list-data {
  border-color: var(--primary-100);
  span {
    color: var(--primary-med-or-secondary-med);
  }
}

.topic-list .topic-list-data {
  padding: 1em 0;
  line-height: 1.25;
}
.topic-list .main-link a.title {
  padding: 0;
}

.topic-list .topic-list-data:first-of-type {
  padding-left: 0;
}

.topic-list .topic-list-data:last-of-type {
  padding-right: 0;
}

.badge-wrapper {
  font-size: unset;
}
body.category {
  .topic-list {
    .link-bottom-line {
      .badge-category__wrapper {
        display: none;
      }
    }
  }
}
.topic-list {
  .link-bottom-line {
    margin-top: 0.5rem;
    gap: 0.5rem;
    font-size: 0.75rem;
    align-items: baseline;
    span.relative-date {
      &:before {
        // content: "· ";
      }
    }
    a {
      // color: var(--primary-700);
      // + a {
      //   display: inline-flex;
      //   &:before {
      //     content: "·\00a0";
      //   }
      // }

      &.bullet {
        .badge-category-parent-bg,
        .badge-category-bg {
          display: none;
        }
      }
    }
  }
}
.topic-list-data {
  position: relative;
  // padding-left: 2.5em !important;
  display: flex;
  justify-content: flex-start;
  .topic-item-avatar,
  .topic-list-data.bulk-select {
    flex-basis: 4em;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    @include breakpoint(mobile-extra-large) {
      align-items: flex-start;
    }
  }
  .topic-item-link {
    flex: 1;
    gap: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .topic-item-stats {
    color: var(--primary);
    flex-basis: 6em;
    padding: 0 1em;
    display: flex;

    align-items: center;
    ul {
      display: flex;
      justify-content: flex-end;
      gap: 0.375em;
      flex: 1;
      // gap: 1em;
      // justify-content: space-between;
      // li {
      //   &:first-child {
      //     width: 3em;
      //   }
      //   padding: 0;
      //   width: 4em;
      // }
    }
  }
}

.topic-item-header {
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5em;
  font-size: var(--font-down-1);
  .badge-wrapper {
    margin: 0;
  }
  .category-name {
    font-size: var(--font-down-1);
  }
}

.category-navigation {
  .badge-wrapper.bullet .badge-category-bg {
    width: 1em;
    height: 1em;
    margin: 0 1.5em;
  }
  .category-name {
    font-size: 1.5em;
    color: var(--primary);
    font-weight: 700;
  }
}

.topic-list {
  .topic-item-stats {
    ul {
      list-style: none;
      margin: 0;
      li {
        a {
          display: inline-flex;
          align-items: center;
          gap: 0.375em;
          color: var(--primary);
          &:visited {
            color: var(--primary);
          }
        }
        padding: 0.25em 0.375em;
        border: var(--border);
        border-radius: var(--rounded);
        display: inline-flex;
        align-items: center;
        gap: 0.375em;
        span {
          font-size: 0.75em;
        }
        svg {
          font-size: 0.875em;
        }
        .d-icon-heart {
          color: var(--love);
        }
      }
    }
  }
}

.topic-list .topic-list-data.posters {
  display: none;
}

.topic-list .num:not(th) {
  font-size: var(--font-down-1);
}

.topic-list-item:not(.visited) .topic-list-data {
  a.title {
    color: var(--primary);
  }
}
.bulk-select-topics {
  .btn {
    padding: 0;
    background: none;
    text-decoration: underline;
  }
}

#list-area {
  margin-bottom: 0;
}

span.category-badge-icon {
  // display: none;
}

// posts

// profile

// .user-main {
//   .about {
//     &,
//     &.collapsed-info {
//       .details {
//         background: none;
//       }
//     }
//     &.has-background:not(.collapsed-info) {
//       .staff-counters {
//         position: absolute;
//         z-index: 1;
//       }
//       .details {
//         padding-top: 300px;
//       }

//       .user-profile-image {
//         border-radius: var(--border-radius-sm) var(--border-radius-sm) 0 0;
//         position: absolute;
//         top: 0;
//         left: 0;
//         width: 100%;
//       }
//     }
//   }
// }
// .user-content {
//   background: None;
// }

// .user-stream .user-stream-item {
//   background: none;
// }

// reply

#reply-control {
  .reply-area {
    padding: var(--rounded-3xl);
  }
  &.fullscreen {
    bottom: 0;
  }
}

.open .grippie {
  background: none;
  &:before {
    border-color: var(--primary);
  }
}

.d-editor-button-bar {
  padding: 0.5em 0;
}
