// @import "presets";
@import "sidebar-right";
@import "sidebar-left";
@import "topic-list";
@import "header";
@import "display-none";
@import "chat-drawer";
@import "topic-post";
@import "badges";
@import "buttons";
@import "topic-list-header";
@import "topic-timeline";
@import "select-kit";
@import "mixins";
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600&display=swap");

:root {
  --d-max-width: 1280px;

  --shadow-sm: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  --shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
    rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
    rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;

  --avatar-size: 5.5em;

  --rounded-none: 0;
  --rounded-sm: 0.125em;
  --rounded: 0.25em;
  --rounded-md: 0.375em;
  --rounded-lg: 0.5em;
  --rounded-xl: 0.75em;
  --rounded-2xl: 1em;
  --rounded-3xl: 1.5em;
  --rounded-4xl: 3em;

  --rounded-full: 9999px;

  --border: 1px solid var(--primary-100);

  --base-font-size: 16px;

  --central-border-r: 1px;
  --central-border-l: 1px;

  --heading-font-family: system-ui, Helvetica, sans-serif;
  --font-family: system-ui, Helvetica, sans-serif;

  @include breakpoint(mobile-extra-large) {
    --central-border-r: 0px;
    --central-border-l: 0px;
  }
}

html {
  overscroll-behavior: contain;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// hide existing sidebar

.header-sidebar-toggle,
.sidebar-wrapper,
.category-breadcrumb > li:nth-child(2) {
  display: none;
}
body.has-sidebar-page .wrap {
  max-width: var(--d-max-width);
}
body.has-sidebar-page #main-outlet-wrapper {
  grid-template-columns: 0 minmax(0, 1fr);
  gap: 0;
  padding-left: 1em;
  @include breakpoint(tablet) {
    padding-left: 0.5em;
  }
}

// material icon set size reset

svg.svg-icon {
  transform: initial;
}

// end

.wrap {
  padding: 0 1em;
  @include breakpoint(tablet) {
    padding: 0 0.5em;
  }
  @include breakpoint(mobile-extra-large) {
    padding: 0 0.5em;
  }
}

#main-outlet-wrapper.wrap {
  @include breakpoint(mobile-extra-large) {
    padding: 0;
  }
}

// extends

.elevation {
  --elevation-pad: 1.5em;
  position: relative;
  padding: var(--elevation-pad);
  border-radius: var(--rounded-xl);
  height: fit-content;
  background: var(--primary-50);
}

.detail {
  font-size: 0.6875rem;
  color: var(--primary-medium);
}

body:not(.navigation-topics):not(.navigation-categories):not(.category) {
  #main-outlet {
    grid-template-areas: "left alerts" "left pins" "left main";
  }
  #main-container + .container,
  #main-container + section,
  #main-container + div {
    grid-area: main;
    grid-column: 3 / span 6;
  }
}
body.category.archetype-regular {
  #main-container + div {
    grid-area: main;
    grid-column: 3 / span 6;
    border-left: var(--border);
  }
}

body.chat-drawer-active {
  #main-container + .container,
  #main-container + section,
  #main-container + div {
    grid-column: span 4 !important;
  }
  .sidebar-right {
    visibility: hidden;
  }
}

body.archetype-regular,
body.archetype-banner {
  #main-outlet {
    grid-template-areas: "left alerts" "left pins" "left main" !important;
  }
}

#main-outlet {
  display: grid;
  grid-template-columns: repeat(8, minmax(0, 1fr));
  grid-template-rows: auto auto 1fr;
  grid-auto-rows: min-content;
  column-gap: 1.5em;
  grid-template-areas:
    "left alerts right"
    "left head right"
    "left main right";
  padding-top: 0;
  @include breakpoint(large) {
    grid-template-areas:
      "alerts alerts"
      "left head"
      "left main";
  }

  @include breakpoint(tablet) {
    column-gap: 0.5em;
    grid-template-columns: 3rem repeat(7, minmax(0, 1fr));
  }

  @include breakpoint(mobile-extra-large) {
    grid-template-areas:
      "alerts"
      "head"
      "main";
  }
}

#main-outlet-wrapper {
  align-items: flex-start;
}

#main-container {
  grid-area: alerts;
  grid-column: span 4;
}

.alert {
  margin: 0;
}

.container.list-container {
  background: var(--secondary);
  grid-area: main;
  grid-column: 3 / span 4;
  @include breakpoint(large) {
    grid-column: 3 / span 6;
  }
  @include breakpoint(tablet) {
    grid-column: 2 / span 7;
  }
  @include breakpoint(mobile-extra-large) {
    grid-column: span 8;
  }
  // order: 2;
  border: var(--border);
  border-width: 0 var(--central-border-l) 0 var(--central-border-r);
}

#topic-title {
  margin: 0;
  .container {
    display: grid;
    grid-template-columns: repeat(6, minmax(0, 1fr));
    &:before {
      content: none;
    }
    .title-wrapper {
      grid-column: span 4;
      order: 0;
      padding: 1em;
      box-sizing: border-box;
      width: 100%;
      border: var(--border);
      border-width: 0 var(--central-border-r) 0 0;
    }
  }
}
.container.posts {
  grid-template-columns: repeat(6, minmax(0, 1fr));
  > .row {
    border: var(--border);
    border-width: 0 var(--central-border-r) 0 0;
    grid-column: span 4;
    order: 0;
  }
  .topic-navigation {
    grid-column: span 2;
    order: 1;
    display: flex;
    justify-content: center;
    .timeline-container .topic-timeline {
      display: flex;
      flex-direction: column;
    }
  }
}

.navigation-container {
  --nav-space: 1em;
}

.navigation-container > *:not(.navigation-controls) {
  // display: none !important;
}

.list-container #whos-online {
  display: none;
}

// hero

.hero {
  display: none;
}

.topic-list {
  .posts,
  .views,
  .activity {
    display: none;
  }
}

.topic-list-header {
  th {
    display: flex;
    color: var(--primary);
    border-bottom: var(--border);
    height: 2em;
    align-items: center;
    // padding: 0 1em;

    button {
      flex-basis: 4em;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    span {
      font-size: 1.25em;
      font-weight: 700;
    }
  }

  tr {
    border: 0;
  }

  .topic-list-data {
    padding: 0;
  }
}

.topic-list .topic-list-data.bulk-select label {
  padding: 0;
}

.topic-list .topic-list-item-separator .topic-list-data span {
  background: var(--secondary-very-high);
}

.topic-list-body {
  border: 0;
  .category-badge-icon {
    display: none;
  }
}

.topic-list .topic-list-item-separator .topic-list-data {
  border-color: var(--primary-100);
  span {
    color: var(--primary-med-or-secondary-med);
  }
}

.topic-list .topic-list-data {
  padding: 1em 0;
  line-height: 1.25;
}
.topic-list .main-link a.title {
  padding: 0;
}

.topic-list .topic-list-data:first-of-type {
  padding-left: 0;
}

.topic-list .topic-list-data:last-of-type {
  padding-right: 0;
}

.topic-list .link-bottom-line {
  font-size: 0.75em;
  align-items: baseline;
}

.badge-wrapper {
  font-size: unset;
}

.link-bottom-line a {
  margin-top: 0.5em;
  color: var(--primary-medium);
  + a {
    display: inline-flex;
    &:before {
      content: "·\00a0";
    }
  }
}

.topic-list-data {
  position: relative;
  // padding-left: 2.5em !important;
  display: flex;
  justify-content: flex-start;
  .topic-item-avatar,
  .topic-list-data.bulk-select {
    flex-basis: 4em;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .topic-item-link {
    flex: 1;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .topic-item-stats {
    flex-basis: 6em;
    padding: 0 1em;
    display: flex;

    align-items: center;
    ul {
      display: flex;
      justify-content: flex-end;
      gap: 0.375em;
      flex: 1;
      // gap: 1em;
      // justify-content: space-between;
      // li {
      //   &:first-child {
      //     width: 3em;
      //   }
      //   padding: 0;
      //   width: 4em;
      // }
    }
  }
}

.topic-item-header {
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5em;
  font-size: var(--font-down-1);
  .badge-wrapper {
    margin: 0;
  }
  .category-name {
    font-size: var(--font-down-1);
  }
}

.topic-item-stats {
  ul {
    list-style: none;
    margin: 0;
    li {
      padding: 0.25em 0.375em;
      border: var(--border);
      border-radius: var(--rounded);
      display: inline-flex;
      align-items: center;
      gap: 0.375em;
      span {
        font-size: 0.75em;
      }
      svg {
        font-size: 0.875em;
      }
    }
  }
}

.topic-list .topic-list-data.posters {
  display: none;
}

.topic-list .num:not(th) {
  font-size: var(--font-down-1);
}

.topic-list-item:not(.visited) .topic-list-data {
  a.title {
    font-weight: 600;
  }
}
.bulk-select-topics {
  .btn {
    padding: 0;
    background: none;
    text-decoration: underline;
  }
}

#list-area {
  margin-bottom: 0;
}

span.category-badge-icon {
  // display: none;
}

// posts

// profile

// .user-main {
//   .about {
//     &,
//     &.collapsed-info {
//       .details {
//         background: none;
//       }
//     }
//     &.has-background:not(.collapsed-info) {
//       .staff-counters {
//         position: absolute;
//         z-index: 1;
//       }
//       .details {
//         padding-top: 300px;
//       }

//       .user-profile-image {
//         border-radius: var(--border-radius-sm) var(--border-radius-sm) 0 0;
//         position: absolute;
//         top: 0;
//         left: 0;
//         width: 100%;
//       }
//     }
//   }
// }
// .user-content {
//   background: None;
// }

// .user-stream .user-stream-item {
//   background: none;
// }

// reply

#reply-control {
  .reply-area {
    padding: var(--rounded-3xl);
  }
  &.fullscreen {
    bottom: 0;
  }
}

.open .grippie {
  background: none;
  &:before {
    border-color: var(--primary);
  }
}

.d-editor-button-bar {
  padding: 0.5em 0;
}
