@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
@import "sidebar-right";
@import "sidebar-left";
@import "topic-list";
@import "header";

:root {
  --heading-font-family: system-ui, Helvetica, Arial, "Work Sans";
  --font-family: system-ui, Helvetica, Arial, "Work Sans";
  --material-grey: #1e1e1e;
  //   --secondary-very-high: var(--primary-50);
  --grey3: #242424;
  --red: rgb(201, 73, 73);
  --green: rgb(89, 199, 89);
  // --d-max-width: 1280px;
  --tertiary: var(--primary);
  --dark-10: #1c1b1f;
  --dark-20: #313033;
  --dark-30: #484649;
  --dark-40: #605d62;
  --dark-50: #787579;
  --dark-60: #939094;
  --dark-70: #aeaaae;
  --dark-80: #c9c5ca;
  --dark-90: #e6e1e5;
  --avatar-size: 5.5em;
  --border-radius-sm: 0.75em;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--primary-100);
}

.wrap {
  padding: 0 1em;
}

.global-notice {
  display: none;
}

// extends

.elevation {
  --elevation-pad: 1.5em;
  --elevation-radius: 0.75em;
  position: relative;
  height: fit-content;
  // background: var(--secondary-very-high);
  border: 1px solid var(--primary-200);
  background: var(--secondary);

  padding: var(--elevation-pad);
  border-radius: var(--elevation-radius);
  // box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
  //   rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  // box-shadow: rgba(var(--primary-rgb), 0.3) 0px 19px 38px,
  //   rgba(var(--primary-rgb), 0.22) 0px 15px 12px;
}

.shadow-sm {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.detail {
  letter-spacing: 0.03em;
  font-size: 0.6875rem;
  color: var(--primary-medium);
  text-transform: uppercase;
}

body:not(.navigation-topics):not(.navigation-categories):not(.category) {
  #main-outlet {
    grid-template-columns: repeat(8, minmax(0, 1fr));
    grid-template-areas: "alerts alerts" "pins pins" "left main";
  }
}

body.archetype-regular,
body.archetype-banner {
  #main-outlet {
    grid-template-columns: minmax(0, 1fr) minmax(0, 3fr) !important;
    grid-template-areas: "alerts alerts" "pins pins" "left main" !important;
    .elevation {
      padding: 2em;
    }
  }
}

#main-outlet-wrapper {
  margin-bottom: 5em;
}

#main-outlet {
  display: grid;
  grid-template-columns: repeat(8, minmax(0, 1fr));
  grid-template-areas: "alerts alerts alerts" "left main right";
  grid-template-rows: auto auto;
  column-gap: 1.5em;
  grid-auto-rows: min-content;
}

#main-container {
  grid-area: alerts;
  grid-column: span 8;
}

.sidebar-left {
  grid-area: left;
  grid-column: span 2 / span 2;
  position: sticky;
  top: calc(var(--header-offset) + 1.5em);
}

// #main-container + .container:not(:empty),
// #main-container + .regular {
//   grid-area: main;
//   grid-column: span 6 / span 6;
// }

.container.list-container {
  // #main-container + div {
  @extend .elevation;
  grid-area: main;
  grid-column: span 4 / span 4;
  order: 2;
}

.navigation-container {
  --nav-space: 1em;
}

.navigation-container > *:not(.navigation-controls) {
  display: none !important;
}

// #main-outlet
//   > *:not(.list-controls):not(.regular)
//   > .container:not(#main-container),
// #main-outlet > .regular,
// #main-outlet #list-area {

// #main-outlet
//   > div:not(.sidebar-left):not(.sidebar-right):not(.list-controls):not(
//     .user-card
//   ):not(.group-card):not(.loading-container):not(#main-container) {
//   @extend .elevation;
// }

.topic-navigation {
  grid-area: right;
}

.sidebar-right {
  grid-area: right;
}

.sidebar-right > * {
  margin-bottom: 1em;
}

// user

.user__wrapper {
  @extend .elevation;
  overflow: hidden;
  text-align: center;
  padding: 0;
}

.user__wrapper--inner {
  padding: var(--elevation-pad);
}

.user__banner {
  background: var(--primary-100);
  // position: absolute;
  // z-index: 0;
  // top: 0;
  // left: 0;
  // height: 0;
  margin-bottom: calc((var(--elevation-pad) * -1) - (var(--avatar-size) / 2));
  padding-bottom: 40%; // 5:2 ratio
  width: 100%;
  background-size: cover;
}

img.avatar {
  object-fit: cover;
}

.user__avatar {
  img {
    max-width: var(--avatar-size);
    height: var(--avatar-size);
    border-radius: 50%;
    border: 0.25em solid var(--secondary);
    box-sizing: border-box;
  }
  position: relative;
  z-index: 1;

  margin-bottom: 0.5em;
}

.user__name {
  margin-bottom: 0;
}

.user__handle {
  line-height: 1;
  a {
    color: var(--primary-500);
    font-size: var(--font-down-1);
  }
}

.user__bio {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  font-size: var(--font-down-1);
  overflow: hidden;
  line-height: var(--line-height-large);
}

span.second.username a {
  color: var(--primary-medium);
}

.username a {
  display: inline-flex;
  &:before {
    content: "@";
  }
}

// stats

.stats__wrap {
  @extend .elevation;
}

.stats__users {
  list-style-type: none;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.stats__user {
  &:not(:last-child):after {
    content: ",\a0";
  }
  display: inline-flex;
}

.stats__total {
  @extend .detail;
  margin-top: 1em;
}

// hero

.hero {
  display: none;
  text-align: center;
  padding: 1.5em 0 1em 0;
  img {
    max-width: 600px;
    transform: translateX(-0.25em);
  }
}

// #main-outlet-wrapper {
//   grid-template-areas: "content";
//   grid-template-columns: initial;
// }
.sidebar-wrapper {
  display: none;
}

// topic list

.sticky-header .topic-list-header {
  background: var(--secondary-very-high);
}

.topic-list .num .badge-posts {
  font-weight: 500;
}

.topic-list {
  .posts,
  .views,
  .activity {
    display: none;
  }
}

.topic-list-header {
  @extend .detail;

  tr {
    border: 0;
  }

  .topic-list-data {
    padding: 0;
  }
}

.topic-list .topic-list-data.bulk-select label {
  padding: 0;
}

.topic-list .topic-list-item-separator .topic-list-data span {
  background: var(--secondary-very-high);
}

.topic-list-body {
  border: 0;
  .category-badge-icon {
    display: none;
  }
}

.topic-list .topic-list-item-separator .topic-list-data {
  border-color: var(--primary-low);
  span {
    color: var(--primary-med-or-secondary-med);
  }
}

.topic-list .topic-list-data {
  &:not(th) {
    padding: 1em 0.5em;
  }
  line-height: var(--line-height-medium);
}
.topic-list .main-link a.title {
  padding: 0;
}

.topic-list .topic-list-data:first-of-type {
  padding-left: 0;
}

.topic-list .topic-list-data:last-of-type {
  padding-right: 0;
}

.link-bottom-line a {
  margin-top: 0.5em;
  font-size: var(--font-down-1);
  color: var(--primary-medium);
  + a {
    display: inline-flex;
    &:before {
      content: "·\00a0";
    }
  }
}

.topic-list-data {
  position: relative;
  padding-left: 2.5em !important;
}

.topic-item-avatar {
  position: absolute;
  top: 1.125em;
  left: 0;
}
.topic-item-header {
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5em;
  font-size: var(--font-down-1);
  .badge-wrapper {
    margin: 0;
  }
  .category-name {
    text-transform: uppercase;
    font-size: var(--font-down-1);
  }
}

.topic-item-footer {
  font-size: var(--font-down-1);
  ul {
    list-style: none;
    margin: 1em 0 0 0.125em;
    li {
      text-align: left;
      display: inline-flex;
      align-items: center;
      svg {
        padding-right: 0.375em;
      }
      &:not(:last-of-type) {
        padding-right: 1em;
      }
    }
  }
}

.topic-list .topic-list-data.posters {
  display: none;
}

.topic-list .num:not(th) {
  font-size: var(--font-down-1);
}

.topic-list-item:not(.visited) .topic-list-data {
  a.title {
    font-weight: 600;
  }
}
.bulk-select-topics {
  .btn {
    padding: 0;
    background: none;
    text-decoration: underline;
  }
}

#list-area {
  margin-bottom: 0;
}

span.category-badge-icon {
  display: none;
}

// posts

.post-avatar {
  display: flex;
  flex-wrap: wrap;
  img.avatar {
    width: 96px !important;
    height: 96px !important;
  }
}
.topic-avatar {
  width: 96px;

  .user-title {
    font-size: var(--font-down-1);
    background: var(--tertiary);
    color: var(--secondary);
    padding: 0.25em 0.75em;
    margin: 1em auto 0 auto;
  }
}

.cooked {
  // font-family: Arial, sans-serif;
}

// profile

.user-main {
  .about {
    &,
    &.collapsed-info {
      .details {
        background: none;
      }
    }
    &.has-background:not(.collapsed-info) {
      .staff-counters {
        position: absolute;
        z-index: 1;
      }
      .details {
        padding-top: 300px;
      }

      .user-profile-image {
        border-radius: var(--elevation-radius) var(--elevation-radius) 0 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
      }
    }
  }
}
.user-content {
  background: None;
}

.user-stream .user-stream-item {
  background: none;
}

// reply

#reply-control {
  bottom: 2em;
  width: calc(100% - 4em);
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  background: var(--grey3);
  border-radius: 1.5em;
  .reply-area {
    padding: 1.5em;
  }
  &.fullscreen {
    bottom: 0;
  }
}

.open .grippie {
  background: none;
  &:before {
    border-color: var(--primary);
  }
}
