.block-cta {
  --fd: column;
  --p: 1rem;
  --jc: space-between;
  color: var(--primary);

  &__img {
    position: absolute;
    top: var(--p);
    right: var(--p);
  }

  h4 {
    margin: 0 0 0.75rem;

    @include title-large;
  }

  p {
    margin: 0 0 0.75rem;

    @include body-small;
  }

  a {
    @include button($style: primary);
  }
}
